/* Write your code here */
.container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.content {
  text-align: center;
}
